<div class="lmsmanipulator_xblock_studio">

    <p class="lmx_desc" hidden>Display Name</p>
    <input type="text" class="lmx_display_name" value="{{ self.display_name }}" hidden>
    <br/>

    <p class="lmx_desc">Hide top navigation buttons?</p>
    <input type="checkbox" class="lmx_hide_nav_buttons" {% if self.hide_nav_buttons %} checked {% endif %}>
    <br/>

    <p class="lmx_desc">Hide top navigation bar?</p>
    <input type="checkbox" class="lmx_hide_nav" {% if self.hide_nav %} checked {% endif %}>
    <br/>

    <p class="lmx_desc">Hide bottom navigation buttons?</p>
    <input type="checkbox" class="lmx_hide_sequence_bottom" {% if self.hide_sequence_bottom %} checked {% endif %}>
    <br/>

    <p class="lmx_desc">Hide sidebar?</p>
    <input type="checkbox" class="lmx_hide_sidebar" {% if self.hide_sidebar %} checked {% endif %}>
    <br/>

    <p class="lmx_desc">Allow student to toggle sidebar?</p>
    <input type="checkbox" class="lmx_toggle_sidebar" {% if self.toggle_sidebar %} checked {% endif %}>
    <br/>

    <p class="lmx_desc">Chapters CSV URL</p>
    <input type="text" class="lmx_csv_url" value="{{ self.csv_url }}">
    <br/>

    <p class="lmx_desc">Chapter IDs (Override for URL)</p>
    <textarea wrap="off" class="lmx_sequence_list_staff" cols="64" rows="10">{{ self.sequence_list_staff }}</textarea>
    <br/>

    <hr/>
    <p class="lmx_desc">Show development info in LMS?</p>
    <input type="checkbox" class="lmx_dev_stuff_studio" {% if self.dev_stuff %} checked {% endif %}>

</div>