.lmx_controls {
    text-align: center;
}

.lmx_error {
    text-align: center;
    color: red;
}

.lmx_chapter_disabled {
    background-color: grey;
}

.lmx_hidden {
    visibility: hidden;
    pointer-events: none;
}