.lmx_controls {
    text-align: center;
}

.lmx_sidebar_control {
    text-align: center;
}

.lmx_error p {
    text-align: center;
    color: red;
}

.lmx_completed p {
    text-align: center;
    color: darkgreen;
}

.lmx_dev_controls {
    text-align: center;
}

.lmx_dev_controls h4 {
    text-align: center;
}

.lmx_dev_controls a {
    text-align: center;
}