.lmx_controls {
    text-align: center;
}

.lmx_sidebar_control {
    text-align: center;
}

.lmx_error p {
    text-align: center;
    color: red;
}

.lmx_completed p {
    text-align: center;
    color: darkgreen;
}