.lmx_desc {
    color: dodgerblue;
}

.lmsmanipulator_xblock_studio {
    text-align: center;
}

.lmx_display_name {
    width: 800px;
}

.lmx_course_url {
    width: 800px;
}

.lmx_csv_url {
    width: 800px;
}