<div class="analyticsextras_block">

    <div class="aex_controls">
        <a class="aex_sidebar" {% if not self.toggle_sidebar or self.hide_bar %} hidden {% endif %}>Sidebar</a>
        <a class="aex_prev">Previous</a>
        <a class="aex_next">Next</a>
    </div>

    <div class="devstuff" {% if not self.dev_stuff %} hidden {% endif %}>

        <hr/>
        <h3 style="color: blue">FOR DEVELOPMENT - Content Data From Database</h3>

        <h4>Display name</h4>
        <p>{{self.display_name}}</p>
        <br/>

        <h4>CSV URL</h4>
        <p>{{self.csv_url}}</p>
        <br/>

        <h4>Hide Top Navigation Buttons?</h4>
        <p>{{self.hide_nav_buttons}}</p>
        <br/>

        <h4>Hide Top Navigation Bar?</h4>
        <p>{{self.hide_nav}}</p>
        <br/>

        <h4>Hide Bottom Navigation Buttons?</h4>
        <p>{{self.hide_sequence_bottom}}</p>
        <br/>

        <h4>Hide Sidebar?</h4>
        <p>{{self.hide_sidebar}}</p>
        <br/>

        <h4>Students can toggle Sidebar?</h4>
        <p>{{self.toggle_sidebar}}</p>
        <br/>

        <h4>Sequence List (Default - Set by Staff)</h4>
        <p>{{self.sequence_list_staff}}</p>
        <br/>

        <h4>Sequence List (Student)</h4>
        <p>{{self.sequence_list}}</p>
        <br/>

        <h4>Show dev stuff</h4>
        <p>{{self.dev_stuff}}</p>
        <br/>

    </div>

</div>
