<div class="analyticsextras_block">

    <p>There shouldn't be anything visible in this XBlock.</p>

    <div class="devstuff">

        <h4>Display name</h4>
        <p>{{self.display_name}}</p>
        <h4>CSV URL</h4>
        <p>{{self.csv_url}}</p>
        <h4>Hide Top Navigation Buttons?</h4>
        <p>{{self.hide_nav_buttons}}</p>
        <h4>Hide Bottom Navigation Buttons?</h4>
        <p>{{self.hide_sequence_bottom}}</p>
        <h4>Sequence List (Default - Set by Staff)</h4>
        <p>{{self.sequence_list_staff}}</p>
        <h4>Sequence List (Student)</h4>
        <p>{{self.sequence_list}}</p>
        <h4>Student Sessions</h4>
        <p>{{self.sessions}}</p>

    </div>

</div>
